.c-ctain{
	position: absolute;
	top: 20%;
	transform: translateY(50%);
}
.row-ctain{
	position: relative;
	
}
.l-ctain{

	background-color: rgba(0,123,255,.95);
	font-size: 1.2rem;
	font-family: -apple-system,BlinkMacSystemFont,Sans-serif;

}
.l-ctain:hover{
	background-color: rgba(0,123,255,1);

}

.l-back{
	display: inline-block;
	color: #007bff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 13.0625rem;

}
.l-back:hover{
	text-decoration: none;
	color: white;
}
.m-ctain{
	border: 1px solid #007bff;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	position: absolute;
}
.m-table th,td{
	padding: .5rem;
}